//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Created Time: Mon 05 13 22:29:51 2024

IO_LOC "I_tmds_data_p_i[2]" 74,75;
IO_PORT "I_tmds_data_p_i[2]" PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_data_p_i[1]" 73,72;
IO_PORT "I_tmds_data_p_i[1]" PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_data_p_i[0]" 71,70;
IO_PORT "I_tmds_data_p_i[0]" PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_tmds_clk_p_i" 69,68;
IO_PORT "I_tmds_clk_p_i" PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "IO_sda_io" 34;
IO_PORT "IO_sda_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "O_rgb_de_o" 28;
IO_PORT "O_rgb_de_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_rgb_hs_o" 29;
IO_PORT "O_rgb_hs_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_rgb_vs_o" 30;
IO_PORT "O_rgb_vs_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_rgb_clk_o" 27;
IO_PORT "O_rgb_clk_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fast_clk" 26;
IO_PORT "fast_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "slow_clk" 25;
IO_PORT "slow_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "I_scl_i" 33;
IO_PORT "I_scl_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "btn[0]" 3;
IO_PORT "btn[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "btn[1]" 4;
IO_PORT "btn[1]" PULL_MODE=UP BANK_VCCIO=1.8;
